#preview-info {
    position: absolute;
    background-color: #f8f9fa;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: black;
    z-index: 1001;
    top: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    min-height: 100vh;
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header  a {
    text-decoration: none;
    color: #000000;
}

header h1 {
    font-size: 2.5rem;
}

.blue {
    color: #007bff; /* Blue color for "consent" */
}

.red {
    color: #dc3545; /* Red color for "mode" */
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allow items to wrap */
}

.config-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px; /* Space between sections */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the customization form */
#customization-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#customization-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

#customization-form select,
#customization-form input[type="text"],
#customization-form input[type="url"],
#customization-form textarea,
#customization-form input[type="number"],
#customization-form input[type="color"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#customization-form input[type="color"] {
    padding: 0px 2px;
    cursor: pointer;
}

/* CSS for disabled input */
#border-radius:disabled {
    background-color: #f0f0f0; /* Light gray background */
    color: #999; /* Light gray text */
    cursor: not-allowed; /* Show disabled cursor */
}

#customization-form textarea {
    min-height: 100px;
}

#customization-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

#customization-form button:hover {
    background-color: #0056b3;
}

#customization-form button:active {
    opacity: 0.8;
}

#customization-form .custom-button {
    border-radius: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.color-group-child {
    flex: 0.24;
}

.btn-group-child {
    flex: 0.32;
}

.config-section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.code-section {
    margin-top: 20px;
    width: 100%;
}

.code-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.code-section pre code {
    word-break: break-all;
}

pre {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: pre-wrap;
}

button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    opacity: 0.8;
}

.btn-close-preview {
    padding: 4px;
    background: #ff0000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
}

.btn-close-preview:hover {
    background-color: #da0000;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    box-shadow: 0 -4px 3px rgb(0 0 0 / 12%);
}

footer a {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
}

footer p {
    margin: 0;
    padding: 20px 0;
}

@media only screen and (max-width: 810px) {
    .input-group {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 20px 2px;
    }
}
