@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
    line-height: 22px;
}

#preview-info {
    position: absolute;
    background-color: #f8f9fa;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: black;
    z-index: 1001;
    top: 5px;
}

.result {
    display: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 15px 0;
    border-bottom: solid 4px #007bff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu li {
    margin: 0;
}

.menu a {
    text-decoration: none;
    font-size: 1rem;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
    background-color: #007bff;
    color: #fff;
}

.menu a:active {
    background-color: #0056b3;
}

.border-1px {
    border: solid 2px #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h2 {
    text-align: center;
    padding: 20px 0;
}

h3 {
    padding: 10px 0;
}

.text-center {
    text-align: center;
}

header {
    margin: 30px 0;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
}

header a img {
    width: 90px;
    height: 90px;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    text-align: center;
    margin: 0;
}

.blue {
    color: #007bff;
}

.red {
    color: #dc3545;
}


.section-default,
.consent-mode-tutorial,
.banner-configuration-guide,
.cookie-banner-necessity,
.data-privacy-laws,
.data-categories,
.data-privacy-laws,
.how-it-works-section,
.faq-section,
.benefits-section,
.call-to-action {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.benefits-section .benefits-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.call-to-action {
    text-align: center;
    padding: 40px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.call-to-action p {
    text-align: center;
}

.call-to-action button {
    margin: 20px;
    background-color: #000000;
}

.call-to-action button:hover {
    background-color: #303030;
}

ul li, ol li {
    list-style-position: inside;
    padding: 3px;
}

.steps-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.step {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.step-icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.step-content p {
    margin: 0;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-title {
    font-size: 2em;
    text-align: center;
}

.faq {
    margin: 0 auto;
}

.faq-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.faq-question {
    background-color: #f4f4f4;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question::after {
    content: '\002B'; /* Plus sign */
    font-size: 1.5em;
}

.faq-question.active::after {
    content: '\2212'; /* Minus sign */
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #fff;
}

.features-section {
    text-align: center;
    margin-top: 40px;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.feature {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.feature-icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.feature-content p {
    margin: 0;
}

/* Contact Form Section */
.contact-form-section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact-form label {
    font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form textarea {
    min-height: 100px;
    resize: vertical;
}

#contact-form button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

#contact-form button:hover {
    background-color: #0056b3;
}

#contact-form button:active {
    opacity: 0.8;
}

/* Styling for the customization form */
#customization-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#customization-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

#customization-form select,
#customization-form input[type="text"],
#customization-form input[type="url"],
#customization-form textarea,
#customization-form input[type="number"],
#customization-form input[type="color"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#customization-form input[type="color"] {
    padding: 0px 2px;
    cursor: pointer;
}

/* CSS for disabled input */
#border-radius:disabled {
    background-color: #f0f0f0;
    /* Light gray background */
    color: #999;
    /* Light gray text */
    cursor: not-allowed;
    /* Show disabled cursor */
}

#customization-form textarea {
    min-height: 100px;
}

#customization-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

#customization-form button:hover {
    background-color: #0056b3;
}

#customization-form button:active {
    opacity: 0.8;
}

#customization-form .custom-button {
    border-radius: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.color-group-child {
    flex: 0.24;
}

.btn-group-child {
    flex: 0.32;
}

.code-section {
    margin-top: 20px;
    width: 100%;
}

.code-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.code-section pre code {
    word-break: break-all;
}

pre {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: pre-wrap;
}

button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    opacity: 0.8;
}

.btn-close-preview {
    padding: 4px;
    background: #ff0000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
}

.btn-close-preview:hover {
    background-color: #da0000;
}


.note {
    margin: 10px 0;
    text-align: justify;
    background: #ffebcd;
    padding: 10px;
    border-top: 1px solid #ccc;
    box-shadow: 0 -4px 3px rgb(0 0 0 / 12%);
}

.space {
    margin: 20px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    box-shadow: 0 -4px 3px rgb(0 0 0 / 12%);
}

footer a {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
}

footer p {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.example-image {
    margin: 15px;
    text-align: center;
}

.example-image img {
    width: 70%;
}

@media only screen and (max-width: 810px) {
    .input-group {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 20px 2px;
    }

    .benefits-section {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .step {
        flex: 1 1 100%;
    }

    header a {
        flex-direction: column;
    }
}
